@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@using BugTracker.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex flex-column flex-shrink-0 h-100 p-3 bg-light" style="width: 280px;">
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            @if (User.IsInRole("Admin")|| User.IsInRole("Demo Admin"))
            {
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Dashboard" class="nav-link active" aria-current="page">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-controller="Role" asp-action="Index" class="nav-link link-dark">
                        Manage Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Project" asp-action="Index" class="nav-link link-dark">
                        Manage Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Ticket" asp-action="Index" class="nav-link link-dark">
                        Manage Tickets
                    </a>
                </li>
            }
            <li class="nav-item">
                <a asp-controller="Project" asp-action="AssignedIndex" class="nav-link link-dark">
                    My Projects
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Ticket" asp-action="AssignedIndex" class="nav-link link-dark">
                    My Tickets
                </a>
            </li>
        </ul>
        <hr>
    </div>
}